@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-custom-shape {
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  }

  .clip-shadow {
    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
  }
}

html {
  @screen sm {
    font-size: 17px;
  }

  @screen md {
    font-size: 18px;
  }

  @screen lg {
    font-size: 19px;
  }

  @screen xl {
    font-size: 20px;
  }

  @screen 2xl {
    font-size: 21px;
  }
}
